
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    
    
}
.main{
    margin: 50px;
    
    flex-direction: column;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.red{
    width: 300px;
    height: 100px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rebeccapurple;
    font-size: 50px;
    border-radius: 10px;
    transition: ease-out 1s ;
    
    outline: none;
    font-size: 2rem;

}
.red:hover{
    color: rgba(17, 115, 228, 0.845);
    background-color: rgb(220, 8, 188);
    
}
.red:active{
    bottom: 3px solid rgb(212, 34, 212);
    background-color: rgb(35, 229, 220)

}

p{
    opacity: 0%;
    color: rgb(93, 93, 93);
    
}

.red:hover + p{
    transition: ease-out 1s ;
    color: rgb(247, 0, 255);
    outline: none;
    opacity: 100%
    
 }
 .red:active + p{
    transition: ease-out 1s ;
    outline: none;
    color: rgb(0, 195, 255);
    opacity: 0%
    
 }
.doremi-{
    display:block;
    justify-content: center;
    align-items: center;
    
    
}
.osnova{
    background-color: rgb(138, 43, 226);
    width: 200px;
    height: 5px;
}

.foot{
    flex-direction: row;
    display: flex;
    
    

}

.btn{
    padding: 8px 10px;
    width: 25px;
    height: 200px; 
    border: solid 1px #777777; 
    color: #777; 
    background:rgb(138, 43, 226);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;   
    text-transform: uppercase;
}
.btn:hover{
    height: 30px;
    background-color: rgb(183, 222, 14);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
    
}