body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    
}

      .clock-box {
        margin-left: 3%;
        width: 400px;
        height: 400px;
        background-color: rgb(9, 255, 0);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clock {
        width:350px;
        height:350px;
        background-image: url(./clock.png);
        background-size:contain;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clock-container {
        width:80%;
        height:80%;
        display: flex;
        justify-content: center;
        animation-name: rotate-clock;
        animation-duration: 60s;
        animation-timing-function:steps(60);
        animation-iteration-count: infinite;
    }
    
    @keyframes rotate-clock {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }

    .seconds {
        background: rgb(0, 7, 142);
        height: 50%;
        width: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
      }
      
      .clock::after {
          position: absolute;
          width: 10px;
          height: 10px;
          content: "";
          background-color: rgb(101, 101, 101);
          border-radius: 50%;
      }