body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.strelka{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50%;
}
.chasov{
    height: 200px;
    width: 5px;
    background-color: rgb(27, 0, 204);
    position: fixed;
    transform: rotate(180deg);
    animation: spin 3600s linear infinite forwards;
    animation-timing-function: steps(100);
}
.minute{
    height: 200px;
    width: 5px;
    background-color: black;
    position: fixed;
    transform: rotate(180deg);
    animation: spin 60s linear infinite forwards;
    animation-timing-function: steps(100);
}
.second{
    height: 280px;
    width: 2px;
    position: fixed;
    background-color: rgb(255, 0, 0);
    transform: rotate(180deg);
    animation: spin 40s linear infinite forwards;
    animation-timing-function: steps(120);
}
@keyframes spin {
    100% {transform: rotate(500deg);}
   } 